Metadata doesn't have an `attestationCertificateKeyIdentifiers` field

Authenticator metadata published at https://github.com/LedgerHQ/app-security-key/blob/develop/conformance/prod-nanosp.json doesn't have an `attestationCertificateKeyIdentifiers` field. It has an `aaguid` field however.

As far as I understand, this model generates fido-u2f attestations, and which can be verified against a root trust anchor using the attestation certificate key identifier. This type of attestation were designed before `aaguid`s were a thing, which is why I don't understand why there's an `aaguid` published in the metadata.

Am I getting something wrong?

This app supports FIDO2 and U2F (FIDO1) for retro compatibility purpose, though I doubt there are a lot of use case for this.

For FIDO2 authenticators need to expose a `AAGUID` and the root of thrust can be found in the `attestationRootCertificates` field of the metadata.

Note that certificates for U2f and FIDO differs, but you find some explanation of how it's handled for this app in the `attestations/` folder.


Per https://medium.com/webauthnworks/verifying-fido-u2f-attestations-in-fido2-f83fab80c355:

> If you are planing to support metadata service, then you can find attestationCertificateKeyIdentifier by calculating the SHA1 of the subjectKey structure as described in method 1 of the section 4.2.1.2 of the [RFC5280](https://tools.ietf.org/html/rfc5280#section-4.2.1.2).

my understanding is that when verifying a fido-u2f attestation (which is returned by this authenticator), there's no `aaguid` in theattested credential data, and therefore we need to check the acki instead :thinking:

What attestation formats are returned by this authenticator?

This authentificator is using the "packed" attestation format.
You can find more information on the specification of the attestation here: https://www.w3.org/TR/webauthn/#sctn-attestation.
Basically you can check that the "authData" have been properly signed by checking the attestation statement content (signature should be valid for the corresponding certificate and "authData").

And you can check the root of thrust by verifying that the certificate has been signed by the root certificate inside `attestationRootCertificates` field of the metadatas.

It looks like the Ledger Nano S Plus authenticator can return fido-u2f attestation statements [as well](https://github.com/tanguilp/wax/issues/28#issuecomment-1609340824).

This is actually what is written in the metadata: https://github.com/LedgerHQ/app-security-key/blob/develop/conformance/prod-nanosp.json#L67

Do you have u2f metadata statement as well, with attestation certificate key identifiers? cc @patatoid

@tanguilp I suspect the log you have is a log acquired during a registration using U2F. As you see in the metadata, the authentificator support both version of the protocol, and for example, Firefox on Linux only support U2F.

The expected metadata format is not clear to me when supporting both U2F and FIDO2 versions.
However, the root certificate is the same for both, and therefore `attestationRootCertificates` should be what your are looking for?

It looks like the metadata https://github.com/LedgerHQ/app-security-key/blob/develop/conformance/prod-nanosp.json refers to a root certificate for "Ledger FIDO Attestation CA" [1], but I have an attestation referring to another root certificate "Ledger FIDO Attestation CA 1" [2].

Can you please advise?

Cheers!

[1]
```
-----BEGIN CERTIFICATE-----
MIIBgTCCAScCFBlo0s5QYFdXbfusRdQeoLX6QenlMAoGCCqGSM49BAMCMEMxCzAJ
BgNVBAYTAkZSMQ8wDQYDVQQKDAZMZWRnZXIxIzAhBgNVBAMMGkxlZGdlciBGSURP
IEF0dGVzdGF0aW9uIENBMB4XDTIzMDIyMzEwMzMwOFoXDTMzMDIyMDEwMzMwOFow
QzELMAkGA1UEBhMCRlIxDzANBgNVBAoMBkxlZGdlcjEjMCEGA1UEAwwaTGVkZ2Vy
IEZJRE8gQXR0ZXN0YXRpb24gQ0EwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAATK
7nXyH4pgN3TMwCWSoMDRe4EV8Jl3XzuhicZ/2gvh+zz3WmW0OZ/EcRYEA8F26cee
uMcd21WQRRKWpjWD+JWiMAoGCCqGSM49BAMCA0gAMEUCIQCwcsHuL8ZFL3FNyU/D
OQn3bmx08lnn0O5RktLbOnoPHQIgOEi6ImAZ181q8RJiL0hbw7ZquuniRq6fjWjG
oBu1Moo=
-----END CERTIFICATE-----
```

[2]
```
-----BEGIN CERTIFICATE-----
MIIBVDCB+qADAgECAgEoMAoGCCqGSM49BAMCMCcxJTAjBgNVBAMMHExlZGdlciBG
SURPIEF0dGVzdGF0aW9uIENBIDEwHhcNMjIwMjA3MTUyNjQ4WhcNMzIwMTI2MTUy
NjQ4WjAnMSUwIwYDVQQDDBxMZWRnZXIgRklETyBBdHRlc3RhdGlvbiBDQSAxMFkw
EwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEAnQWQZXDuQy+OvCWivTzYQi/oCGKzdr2
MyCtzqEON0+P1e8EO90yZpVZ3GNkGzBRen4EMQ3Ed1ihalZbcoX+dKMXMBUwEwYL
KwYBBAGC5RwCAQEEBAMCBSAwCgYIKoZIzj0EAwIDSQAwRgIhAI4Of1BPPfpn9lGa
GU2ottmmQ1NUhravSIYiO3gVx1d6AiEAzzgRmdUxwhms7iP6P/UlN9Pm5qKbxthu
QY314+5xCoE=
-----END CERTIFICATE-----
```

Hello,

The first one is indeed the prod CA certificate, which can be found here: https://github.com/LedgerHQ/app-security-key/blob/develop/attestations/data/prod/ca-cert.pem

Where does the second one comes from?

> The second one comes from a fiduo-u2f attestation attestation by a [Ledger Nano S Plus](https://github.com/tanguilp/wax/issues/28#issuecomment-1609835972)

Sorry but I don't see it in the logs? So I guess you computed it from something?
Also, [Firefox now has CTAP2/FIDO2 capabilities](https://www.mozilla.org/en-US/firefox/114.0/releasenotes/), so this might be not relevant anymore?

Yes this comes from an attestation object given [here](https://github.com/tanguilp/wax/issues/28#issuecomment-1609291619). When decoding (sorry for unusual Elixir code!) we get the following certificate with the "Ledger FIDO Attestation CA 1" CN & issuer:

```elixir
iex(9)> attestation = <<163, 99, 102, 109, 116, 104, 102, 105, 100, 111, 45,                                                        
...(9)>     117, 50, 102, 103, 97, 116, 116, 83, 116, 109, 116, 162, 99, 115, 105, 103,
...(9)>     88, 70, 48, 68, 2, 32, 103, 160, 121, 170, 246, 212, 126, 173, 208, 92, 35,
...(9)>     242, 25, 64, 6, 93, 177, 43, 54, 194, 120, 144, 141, 28, 249, 227, 240, 104,
...(9)>     113, 104, 249, 173, 2, 32, 21, 52, 206, 153, 171, 151, 19, 71, 15, 92, 212,
...(9)>     72, 110, 19, 143, 86, 4, 53, 100, 112, 88, 59, 66, 160, 115, 94, 126, 214,
...(9)>     68, 71, 97, 203, 99, 120, 53, 99, 129, 89, 1, 88, 48, 130, 1, 84, 48, 129,
...(9)>     250, 160, 3, 2, 1, 2, 2, 1, 40, 48, 10, 6, 8, 42, 134, 72, 206, 61, 4, 3, 2,
...(9)>     48, 39, 49, 37, 48, 35, 6, 3, 85, 4, 3, 12, 28, 76, 101, 100, 103, 101, 114,
...(9)>     32, 70, 73, 68, 79, 32, 65, 116, 116, 101, 115, 116, 97, 116, 105, 111, 110,
...(9)>     32, 67, 65, 32, 49, 48, 30, 23, 13, 50, 50, 48, 50, 48, 55, 49, 53, 50, 54,
...(9)>     52, 56, 90, 23, 13, 51, 50, 48, 49, 50, 54, 49, 53, 50, 54, 52, 56, 90, 48,
...(9)>     39, 49, 37, 48, 35, 6, 3, 85, 4, 3, 12, 28, 76, 101, 100, 103, 101, 114, 32,
...(9)>     70, 73, 68, 79, 32, 65, 116, 116, 101, 115, 116, 97, 116, 105, 111, 110, 32,
...(9)>     67, 65, 32, 49, 48, 89, 48, 19, 6, 7, 42, 134, 72, 206, 61, 2, 1, 6, 8, 42,
...(9)>     134, 72, 206, 61, 3, 1, 7, 3, 66, 0, 4, 2, 116, 22, 65, 149, 195, 185, 12,
...(9)>     190, 58, 240, 150, 138, 244, 243, 97, 8, 191, 160, 33, 138, 205, 218, 246,
...(9)>     51, 32, 173, 206, 161, 14, 55, 79, 143, 213, 239, 4, 59, 221, 50, 102, 149,
...(9)>     89, 220, 99, 100, 27, 48, 81, 122, 126, 4, 49, 13, 196, 119, 88, 161, 106,
...(9)>     86, 91, 114, 133, 254, 116, 163, 23, 48, 21, 48, 19, 6, 11, 43, 6, 1, 4, 1,
...(9)>     130, 229, 28, 2, 1, 1, 4, 4, 3, 2, 5, 32, 48, 10, 6, 8, 42, 134, 72, 206,
...(9)>     61, 4, 3, 2, 3, 73, 0, 48, 70, 2, 33, 0, 142, 14, 127, 80, 79, 61, 250, 103,
...(9)>     246, 81, 154, 25, 77, 168, 182, 217, 166, 67, 83, 84, 134, 182, 175, 72,
...(9)>     134, 34, 59, 120, 21, 199, 87, 122, 2, 33, 0, 207, 56, 17, 153, 213, 49,
...(9)>     194, 25, 172, 238, 35, 250, 63, 245, 37, 55, 211, 230, 230, 162, 155, 198,
...(9)>     216, 110, 65, 141, 245, 227, 238, 113, 10, 129, 104, 97, 117, 116, 104, 68,
...(9)>     97, 116, 97, 88, 196, 73, 150, 13, 229, 136, 14, 140, 104, 116, 52, 23, 15,
...(9)>     100, 118, 96, 91, 143, 228, 174, 185, 162, 134, 50, 199, 153, 92, 243, 186,
...(9)>     131, 29, 151, 99, 65, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
...(9)>     0, 0, 0, 64, 196, 164, 239, 243, 184, 57, 52, 221, 100, 180, 160, 74, 51,
...(9)>     231, 130, 137, 44, 17, 65, 103, 228, 38, 119, 59, 161, 167, 6, 175, 223, 8,
...(9)>     69, 181, 234, 147, 92, 161, 237, 42, 229, 217, 189, 199, 206, 31, 153, 192,
...(9)>     172, 148, 198, 247, 22, 184, 243, 176, 136, 95, 109, 182, 132, 75, 125, 209,
...(9)>     207, 39, 165, 1, 2, 3, 38, 32, 1, 33, 88, 32, 171, 229, 131, 33, 251, 58,
...(9)>     104, 196, 55, 110, 12, 84, 87, 71, 229, 116, 150, 130, 200, 92, 52, 194,
...(9)>     229, 50, 73, 170, 124, 215, 93, 205, 20, 165, 34, 88, 32, 116, 121, 94, 167,
...(9)>     22, 144, 249, 244, 79, 22, 144, 37, 243, 15, 106, 196, 155, 14, 28, 147, 61,
...(9)>     138, 104, 109, 74, 80, 19, 32, 116, 32, 193, 136>>
<<163, 99, 102, 109, 116, 104, 102, 105, 100, 111, 45, 117, 50, 102, 103, 97,
  116, 116, 83, 116, 109, 116, 162, 99, 115, 105, 103, 88, 70, 48, 68, 2, 32,
  103, 160, 121, 170, 246, 212, 126, 173, 208, 92, 35, 242, 25, 64, 6, 93, 177,
  ...>>
iex(10)> attestation |> Wax.Utils.CBOR.decode() |> elem(1) |> get_in(["attStmt", "x5c"]) |> List.first() |> X509.Certificate.from_der
{:ok,
 {:OTPCertificate,
  {:OTPTBSCertificate, :v3, 40,
   {:SignatureAlgorithm, {1, 2, 840, 10045, 4, 3, 2}, :asn1_NOVALUE},
   {:rdnSequence,
    [
      [
        {:AttributeTypeAndValue, {2, 5, 4, 3},
         {:utf8String, "Ledger FIDO Attestation CA 1"}}
      ]
    ]}, {:Validity, {:utcTime, '220207152648Z'}, {:utcTime, '320126152648Z'}},
   {:rdnSequence,
    [
      [
        {:AttributeTypeAndValue, {2, 5, 4, 3},
         {:utf8String, "Ledger FIDO Attestation CA 1"}}
      ]
    ]},
   {:OTPSubjectPublicKeyInfo,
    {:PublicKeyAlgorithm, {1, 2, 840, 10045, 2, 1},
     {:namedCurve, {1, 2, 840, 10045, 3, 1, 7}}},
    {:ECPoint,
     <<4, 2, 116, 22, 65, 149, 195, 185, 12, 190, 58, 240, 150, 138, 244, 243,
       97, 8, 191, 160, 33, 138, 205, 218, 246, 51, 32, 173, 206, 161, 14, 55,
       79, ...>>}}, :asn1_NOVALUE, :asn1_NOVALUE,
   [{:Extension, {1, 3, 6, 1, 4, 1, 45724, 2, 1, 1}, false, <<3, 2, 5, 32>>}]},
  {:SignatureAlgorithm, {1, 2, 840, 10045, 4, 3, 2}, :asn1_NOVALUE},
  <<48, 70, 2, 33, 0, 142, 14, 127, 80, 79, 61, 250, 103, 246, 81, 154, 25, 77,
    168, 182, 217, 166, 67, 83, 84, 134, 182, 175, 72, 134, 34, 59, 120, 21,
    199, 87, 122, 2, 33, 0, 207, 56, 17, 153, ...>>}}
```

If it can help here is the base64-encoded payload of the attestation mentioned above: `o2NmbXRoZmlkby11MmZnYXR0U3RtdKJjc2lnWEYwRAIgZ6B5qvbUfq3QXCPyGUAGXbErNsJ4kI0c+ePwaHFo+a0CIBU0zpmrlxNHD1zUSG4Tj1YENWRwWDtCoHNeftZER2HLY3g1Y4FZAVgwggFUMIH6oAMCAQICASgwCgYIKoZIzj0EAwIwJzElMCMGA1UEAwwcTGVkZ2VyIEZJRE8gQXR0ZXN0YXRpb24gQ0EgMTAeFw0yMjAyMDcxNTI2NDhaFw0zMjAxMjYxNTI2NDhaMCcxJTAjBgNVBAMMHExlZGdlciBGSURPIEF0dGVzdGF0aW9uIENBIDEwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAAQCdBZBlcO5DL468JaK9PNhCL+gIYrN2vYzIK3OoQ43T4/V7wQ73TJmlVncY2QbMFF6fgQxDcR3WKFqVltyhf50oxcwFTATBgsrBgEEAYLlHAIBAQQEAwIFIDAKBggqhkjOPQQDAgNJADBGAiEAjg5/UE89+mf2UZoZTai22aZDU1SGtq9IhiI7eBXHV3oCIQDPOBGZ1THCGazuI/o/9SU30+bmopvG2G5BjfXj7nEKgWhhdXRoRGF0YVjESZYN5YgOjGh0NBcPZHZgW4/krrmihjLHmVzzuoMdl2NBAAAAAAAAAAAAAAAAAAAAAAAAAAAAQMSk7/O4OTTdZLSgSjPngoksEUFn5CZ3O6GnBq/fCEW16pNcoe0q5dm9x84fmcCslMb3FrjzsIhfbbaES33RzyelAQIDJiABIVggq+WDIfs6aMQ3bgxUV0fldJaCyFw0wuUySap8113NFKUiWCB0eV6nFpD59E8WkCXzD2rEmw4ckz2KaG1KUBMgdCDBiA==`

Ok, regarding the `attestationCertificateKeyIdentifiers` field in metadata, this is a field that is (according to the conformance test tool):
- mandatory for U2F authentificators
- forbidden for FIDO2 authentificator

So regarding this point, I won't do anything.
This app support U2F, but it was mostly as a fallback for Firefox on Linux and Mac.
Now that Firefox now supports Fido2, I don't even know how to trigger U2F registration with an up to date OS + platform.

And I've also found the source of your attestation.
It is in fact an attestation from a Nano S Plus device running app-u2f application.
The corresponding certificate can be found here: https://github.com/LedgerHQ/app-u2f/blob/develop/attestations/data/prod/U2F/nanosp-cert.der
You can see a decoded version here: https://lapo.it/asn1js/#MIIBVDCB-qADAgECAgEoMAoGCCqGSM49BAMCMCcxJTAjBgNVBAMMHExlZGdlciBGSURPIEF0dGVzdGF0aW9uIENBIDEwHhcNMjIwMjA3MTUyNjQ4WhcNMzIwMTI2MTUyNjQ4WjAnMSUwIwYDVQQDDBxMZWRnZXIgRklETyBBdHRlc3RhdGlvbiBDQSAxMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEAnQWQZXDuQy-OvCWivTzYQi_oCGKzdr2MyCtzqEON0-P1e8EO90yZpVZ3GNkGzBRen4EMQ3Ed1ihalZbcoX-dKMXMBUwEwYLKwYBBAGC5RwCAQEEBAMCBSAwCgYIKoZIzj0EAwIDSQAwRgIhAI4Of1BPPfpn9lGaGU2ottmmQ1NUhravSIYiO3gVx1d6AiEAzzgRmdUxwhms7iP6P_UlN9Pm5qKbxthuQY314-5xCoE
So you are comparing it against the wrong metadata.
Also note that the root Ca is not the same for the app, it can be find here: https://github.com/LedgerHQ/app-u2f/blob/develop/attestations/data/prod/ca-cert.pem

Eventually, as this app is deprecated, I won't take the time to create and commit a corresponding conformance metadata.

I hope that this answers your questions.

I'm closing this issue, let me know if I missed something.

I recently watched videos about the new Ledger products highlighting the passkey abilities of Ledger Flex. has this app been updated to be compliant since then?